@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pink: #F2A594;
  --hotpink: #D95F43;
  --teal:#8FD9BE;
  --pale: #F2E9D8;
}

.body{
  background-color: #F2E9D8;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
